{% extends "layout_unbranded.html" %}
{% block pageTitle %}
Home
{% endblock %}

{% block content %}

<h1>Home Page</h1>
<p>This is the home page</p>
<div>
    <p>
        <ul>
            <li><a href="/employees">View Employees</a></li>
            <li><a href="/sales-employees">View Sales Employees</a></li>
            <br>
            <li><a href="/create-employee">Add Employee</a></li>
            <li><a href="/add-sales-employee">Add Sales Employee</a></li>
        </ul>
    </p>
</div>


{% endblock %}