{% extends "layout_unbranded.html" %}
{% block pageTitle %}
List of Sales Employees
{% endblock %}

{% block content %}

<h2>List of Sales Employees</h2>
{% if employees and employees.length > 0 %}
{% set emprows = [] %}

{% for emp in employees | sort(attribute='id') %}

{% set emprows = (emprows.push([{ text: emp.id }, {text: emp.name }, {text: emp.address},
{text: emp.nin}, {text: emp.bank_num}, {text: emp.salary}, {text: emp.commRate}, {text: emp.salesTotal}]), emprows) %}


{% endfor %}

{{govukTable({
head: [ { text: "ID" },{ text: "Name" },{ text: "Address" },
{ text: "NIN" },{ text: "Bank" },{ text: "Salary"}, { text: "Commission Rate"}, { text: "Total Sales"} ],
rows: emprows })
}}
{% else %}
There are no sales employees.
{% endif %}

{% endblock %}